<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name = "file"
        fileName = "${filename}/logHospital.log"
        filePattern = "${filename}/logHospital - %d{HH-mm-ss}.log">
            <PatternLayout>
                <pattern> %d{HH:mm:ss} [%t] %-5level %Logger{36} - %msg%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size = "1 KB" />
        </RollingFile>

        <Console name = "console" target = "SYSTEM_OUT">
            <PatternLayout>
            pattern = "%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"</PatternLayout>
        </Console>

        <appender name ="fileAppender" class = "org.apache.logging.log4j.core.appender.RollingFileAppender">
            <param name = "File" value="testXML.log"/>
            <layout class = "org.apache.logging.log4j.core.layout.PatternLayout">
                    <param name = "ConversionPattern" value = "%d [%p|%c|%C{1}]"/>
            </layout>
        </appender>

    </Appenders>

    <Loggers>
        <Logger name="hospital" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
            <appender-ref ref = "fileAppender"/>
        </Root>
    </Loggers>

</Configuration>